<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:url" content="https://arcane-hollows-9909.herokuapp.com/"/>
    <meta property="og:type" content="website"/>     
    <meta property="og:title" content="Regis University, The Big Table"/>
    <meta property="og:description" content="See my ambition at the Regis University Big Table"/>
    <meta property="og:image" content="http://cdn.regis.edu/images/bigtable_black.png"/>
    
    <title>Regis University, The Big Table</title>
    <!--Google Font-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,800' rel='stylesheet' type='text/css'>
    <!--Font awesome-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Bootstrap -->

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="/css/jquery.selectBoxIt.css" />
    <link rel="stylesheet" href="/css/build.css">
    <link rel="stylesheet" href="/css/bigtable.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://code.angularjs.org/1.3.1/angular.min.js"></script> 
  </head>
  <body>
  <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WG638K"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WG638K');</script>
  <!-- End Google Tag Manager -->
 
    <header class="container-fluid">     
      <div class="container">
        <div class="row">
          <div >
            <div class="top_head_logo">
              
            </div>
            <!-- <img class="img-responsive mobile" src="/img/Regis_Mobile__Stack_White.png" alt="Regis University">
            <img class="img-responsive desktop" src="/img/regis_header_logo_white.png" alt="Regis University"> -->
            <div class="apply-block">
              <!-- <p class="apply-caption">Get your application done and see what we got you.</p> -->
              <a href="http://www.regis.edu/College-Admissions-and-Financial-Aid/Applying-to-Regis.aspx" target="_blank"><button type="button" class="btn btn-default text-center" >APPLY NOW</button></a>
            </div>  
          </div><!-- col-md-3-->
          
        <!--</div> row -->
      </div><!-- container -->        
    </header>

    <div id="step1" class="container">
      <!-- <p class="preheader">Thank you!<br class="breakHide">&nbsp;An application fee waiver code is already in your inbox.</p> -->
      <div id="topReturn" class="text-center">
        <!-- <a href="http://www.regis.edu/College-Admissions-and-Financial-Aid/Applying-to-Regis.aspx" target="_blank"><button type="button" class="btn btn-default text-center">APPLY NOW</button></a> -->
      </div>
      <img class="img-responsive main-logo" src="/img/bigtable_logo.png" alt="The Big Table">
      <div class="col-md-10 col-md-offset-1 text-center">
        <h2>NOW, ABOUT THAT AMBITION.</h2>
        <p>Regis University is a place where people cultivate their deepest ambitions – and then act on them. The Big Table project lets you state yours to the world – and connect with all the aspirations people bring to the Regis community. Scroll down to complete the sentence, and join the dialogue.</p>  
      </div><!-- col-md-10 col-md-offset-1 -->      
      <div class="buttonContainer text-center">
        <a href="#step2" class="btn down" ><span class="glyphicon glyphicon-menu-down"></span></a>
      </div>  
    </div><!-- step1 -->

    <div id="step2" class="container-fluid">
      <div class="container">
        <p class="preheader">Complete this sentence.</p>
        <h1>
            MY AMBITION AT REGIS UNIVERSITY IS TO...
        </h1>
          <div>
              <form method="post" name="AffiliateFacultyBigTable" action="https://s1612941136.t.eloqua.com/e/f2" id="form64" class="elq-form" ng-app novalidate>
                  <input value="AffiliateFacultyBigTable" type="hidden" name="elqFormName"><input value="1612941136" type="hidden" name="elqSiteId"><input name="elqCampaignId" type="hidden">
                  <div class="row">
                    <div id="formElement0" class="col-md-10 col-md-offset-1">
                      <div class="field-wrapper"></div>
                      <div class="individual field-wrapper">
                          <div class="_100 field-style">
                              <p class="field-p">
                                <textarea id="field0" name="putOnEarthTo" class="field-size-top-large" rows="1" cols="10" wrap="hard" ng-model="putOnEarthTo" ng-required="true" ng-maxlength="90"></textarea><label for="putOnEarthTo" class="label-position bottom"><span class="required">*</span></label>
                              </p>
                              <p class="errorMessage" ng-show="AffiliateFacultyBigTable.putOnEarthTo.$invalid && AffiliateFacultyBigTable.putOnEarthTo.$touched">This field is required</p>
                              <p class="errorMessage" ng-show="AffiliateFacultyBigTable.putOnEarthTo.$error.maxlength">Please make your ambition less than 90 characters</p>
                              <p class="formNote">90 characters or less</p>
                          </div>
                      </div>
                    </div>
                  </div><!-- row -->
                  <div class="row">
                    <div class="quoterInfo col-md-10 col-md-offset-1">
                      <div id="formElement1" class="sc-view form-design-field sc-static-layout item-padding sc-regular-size col-md-4 col-md-offset-2">
                        <div class="individual field-wrapper">
                          <div class="_100 field-style">
                            <p class="field-p">
                                <input id="field1" name="Name" type="text" value="" class="field-size-top-large" ng-model="Name" ng-required="true"><label for="Name" class="label-position bottom">Name<span class="required">*</span></label>
                            </p>
                            <p class="errorMessage" ng-show="AffiliateFacultyBigTable.Name.$invalid && AffiliateFacultyBigTable.Name.$touched">Please enter your first and last name.</p>
                          </div>
                        </div>
                      </div>
                      <div id="formElement2" style="display:none;" class="sc-view form-design-field sc-static-layout item-padding sc-regular-size" >
                        <div class="individual field-wrapper" >
                          <div class="_100 field-style" >
                            <p class="field-p" >
                              <label for="field2" class="label-position top " >CustomDataIndentifier</label>
                                <input id="field2" name="CustomDataIndentifier" type="text" value="" class="field-size-top-large"  />
                            </p>
                          </div>
                        </div>
                      </div>
                      <div id="formElement3" class="sc-view form-design-field sc-static-layout item-padding sc-regular-size col-md-4 ">
                        <div class="individual field-wrapper">
                            <div class="_100 field-style">
                              <select name="affiliate_fac_status" id="checkboxFacultyInput" style="width:100%">
                                <option value="">I am...</option>
                                <option value="Faculty">Faculty</option>
                                <option value="Affiliate/Adjunct Faculty">Affiliate/Adjunct Faculty</option>
                                <option value="Current Student">Current Student</option>
                                <option value="Prospective Student">Prospective Student</option>
                                <option value="Alumni">Alumni</option>
                                <option value="Regis University Staff">Regis University Staff</option>
                              </select>
                            </div>
                          </div>
                      </div>                    
                    </div><!-- quoterInfo -->                  
                  </div><!-- row -->                 
                  <div id="formElement4" class="sc-view form-design-field sc-static-layout item-padding sc-regular-size text-center">
                      <div class="field-wrapper"></div>
                      <div class="individual field-wrapper">
                          <div class="_100 field-style">
                              <p class="field-p">
                                  <button type="submit" class="btn btn-default" id="formSubmit" ng-disabled="AffiliateFacultyBigTable.putOnEarthTo.$invalid || AffiliateFacultyBigTable.Name.$invalid">SUBMIT</button>
                              </p>
                              <p class="reqText">* indicates required field</p>
                          </div>
                      </div>
                      
                  </div>

              </form>
              
              
          </div>
        </div><!-- container -->
      
    </div><!-- step2 -->    
    <div id="step3" class="container">      
      <div class="bigTableGrid ">
        <p class="preheader" id="showThanks">Thanks for joining the conversation at the Big Table.<br>Check back shortly to view your ambition.</p>
        <% for(i=0; i< totalMission.length; i++) {%>
      <div class="bigTableQuote">
        <h3><%= totalMission[i] %></h3>
        <img src="/img//quoteFold.png" alt="">
        <h4 style="font-weight:600; color:#636363; font-size:13px;"><%= totalNames[i] %></h4>
        <h5 style="font-weight:400; color:#636363; font-size:13px;margin-top:3px"><%= totalStatus[i] %></h5>

      </div>
      <% if ((i>0) && (i % 4===0)) { %>
        <div class="bigTableLearnMore">
          <a href="mailto:info@regis.edu">Info@regis.edu</a>
          <a class="tel_link" href="tel:+1.888.555.5555">888.555.5555</a>
          <a class="requestInfo" href="mailto:info@regis.edu">REQUEST INFORMATION</a>        
        </div>
        <%}
        }%>


      

      </div>

      
      <div class="socialMedia">
        
        <div class="social_icon"><a href="http://www.facebook.com/sharer/sharer.php?u=https://arcane-hollows-9909.herokuapp.com/"  onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank" title="Share on Facebook"><i class="fa fa-facebook-official"></i></a></div>
        <div class="social_icon"><a href="https://twitter.com/home?status=See%20my%20ambition%20at%20Regis%20Univesity!%20http%3A//arcane-hollows-9909.herokuapp.com/" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank" title="Share on Twitter"><i class="fa fa-twitter"></i></a></div>
        <div class="social_icon"><a href="https://www.linkedin.com/shareArticle?mini=true&url=http%3A//arcane-hollows-9909.herokuapp.com/&title=Regis%20Univesity,%20The%20Big%20Table&summary=See%20my%20ambition%20at%20Regis%20Univesity!&source=" target="_blank" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"><i class="fa fa-linkedin-square"></i></a></div>
        <div class="social_icon last"><a href="mailto:?subject=See my ambition at the Regis Big Table!&body=http%3A//arcane-hollows-9909.herokuapp.com/"><i class="fa fa-envelope"></i></a><div class="arrow-up"></div></div>
        <!-- <div class="arrow-up"> -->
        <div class="social_share"><i class="fa fa-share-alt"></i></div>
        <div class="top-return"><a href="#step1" class="btn up"><span class="glyphicon glyphicon-menu-up"></span></a></div>        
      </div>
      
    </div><!-- step3 -->
    <footer>
      <div class="container footerContent">
            <div>
                
                <div class="address-container col-sm-offset-2 col-sm-8 ">
                    <p class="phone_email">1.800.944.7667<span class="splitter"> | </span><span class="emailStack">info@regis.edu</span></p>
                    <p class="address">3333 Regis Boulevard, <br class="breakHide">Denver, Colorado 80221-1099</p>
                
                    <div class="col-xs-12">
                        <div class="social col-sm-12">
                            <a title="facebook" target="_blank" href="https://www.facebook.com/regisuniversity?elqTrackId=6520624e67824b3dbbbddafd2bd771d6"><span aria-hidden="true" class="fa fa-facebook"></span></a>
                            <a title="twitter" target="_blank" href="https://twitter.com/regisuniversity?elqTrackId=d85253ab8ec64df090b326fb31d747e0"><span aria-hidden="true" class="fa fa-twitter"></span></a>
                            <a title="linkedIn" target="_blank" href="http://www.linkedin.com/company/regis-university?elqTrackId=a48e22a2389f4f1cbc5a3eb676ae82d1"><span aria-hidden="true" class="fa fa-linkedin"></span></a>
                            <a title="youtube" target="_blank" href="http://www.youtube.com/regisuniversity?elqTrackId=e94ce70a14684726afde5534d8370adf"><span aria-hidden="true" class="fa fa-youtube"></span></a>
                            <a title="google+" target="_blank" href="https://plus.google.com/+regisuniversity?elqTrackId=6c4ec3cf3de54288a93438fe7949d9f6"><span aria-hidden="true" class="fa fa-google-plus"></span></a>
                            <a title="pinterest" target="_blank" href="http://pinterest.com/regisuniversity/?elqTrackId=756e92d3fe134c9599d2280f3621f97c"><span aria-hidden="true" class="fa fa-pinterest"></span></a>
                            <a title="flickr" target="_blank" href="http://www.flickr.com/people/regisuniversity/?elqTrackId=f50aefc53c06442980474272a638c4c1"><span aria-hidden="true" class="fa fa-flickr"></span></a>
                            <a title="instagram" target="_blank" href="http://instagram.com/regisuniversity?elqTrackId=d05a430614274eeea28b8bb103e3510b"><span aria-hidden="true" class="fa fa-instagram"></span></a>
                        </div>
                        <div class="copyright col-sm-12">
                            ©Regis University, <script type="text/javascript">document.write(new Date().getFullYear());</script>. All Rights Reserved
                        </div>
                    </div>
                </div>
            </div>
          </div><!-- footerContent -->
    </footer>

    <div class="page-bg"></div><!-- for page background -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>    
      document.getElementById('field2').value = Date();//apply time stamp to form entry CustomDataIndentifier

      //Display thank you message based step3 text in URL
      // Get URL
      var url = window.location.href;
      // Get DIV
      var msg = document.getElementById('showThanks');
      // Check if URL contains the keyword
      if( url.search( 'step3' ) > 0 ) {
          // Display the message
          msg.style.display = "block";
      }

      //Smooth scrolling between anchor links
      $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
              $('html,body').animate({
                scrollTop: target.offset().top
              }, 1000);
              return false;
            }
          }
        });
      });

      //display share and return to top links based on location on page
      $(document).scroll(function() {
        var y = $(this).scrollTop();
        if (y > 700) {
          $('.socialMedia').fadeIn();
        } else {
          $('.socialMedia').fadeOut();
        }
      });

      //display social share icons when share button is clicked
      $(document).ready(
        function(){
            $(".social_share").click(function () {
                $(".social_icon").fadeToggle("slow");
            });
        });

      


      $("#field0, #field1, #field3").change(function () {

        if ( document.getElementById("field0", "field1").className.match(/(?:^|\s)LV_valid_field(?!\S)/))  {
                document.getElementById("formSubmit").className =  document.getElementById("formSubmit").className.replace( /(?:^|\s)disabled(?!\S)/g , '' );
        }
      });


      // var $fields = $("#field0", "#field1");
      //   var $submit = $('#formSubmit');
      //   ​
      //   $fields.change(function() {
      //   var validFields = 0;
      //   ​
      //   $fields.each(function(i, val) {
      //     if ($(this).hasClass('LV_valid_field')) {
      //       validFields++;
      //     }
      //   });
      //   if (validFields === $fields.length) {
      //     $submit.removeClass('disabled');
      //   } else {
      //     $submit.addClass('disabled');
      //   }
      //   });
      
     
    </script>   
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="/jquery/jquery-ui.min.js"></script>
    <script src="/jquery/jquery.selectBoxIt.min.js"></script>
    <script>
     //Executes your code when the DOM is ready.  Acts the same as $(document).ready().
    $(function() {
      //Calls the selectBoxIt method on your HTML select box.
        $("select").selectBoxIt({

        // Uses the Twitter Bootstrap theme for the drop down
        theme: "bootstrap",
        autoWidth: false

      })

    });
    </script>
  </body>
</html>